*{margin:0;padding:0;}
h2{
    color: #061C3D;
}
h4{
    color: #061C3D;
}
h3{
    color: #42526B;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.header, .features, .testimonial,.company, .footer{
    margin-left: 300px;
    margin-right: 300px;
}

.navigation{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.navbar-container-items{
    display: flex;
}

.navbar-container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-items{
    display: flex;
}

.nav-text{
    height: fit-content;
    margin-right: 24px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: #838E9E;
}

.nav-text:hover{
    color: #0B63E5;
}

.logo{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.logotext{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-right: 24px;
}

.logoicon{
    margin-right: 12px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.line{
    margin-right: 24px;
    margin-top: 10px;
}

.button-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.button:first-child{
    background-color: #f0f5ff;
    color: #0B63E5;
}

.button:first-child:hover{
    background-color: #e0e6f0;
}

.button:last-child{
    background-color: #0B63E5;
    color: white;
}

.button:last-child:hover{
    background-color: #0c5cd3;
}

.button{
    margin-right: 24px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}

.main-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 72px;
    width: 60%;
    margin-top:202px;
}

.sub-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 648px;
    margin-top:32px;
    line-height: 28px;
}

.tick-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top:32px;
}

.tickmark{
    display: flex;
    margin-bottom: 16px;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#0F9918;
}

.tickmark:nth-child(odd){
 
    width:280px;
    margin-right: 58px;
}

.tick{
    margin-right:8px;
}
.info{
}
.info-buttons{
    display: flex;
    flex-direction: row;
    margin-top:32px;
}

.tag{
    position: absolute;
    left:60px;
    margin-top:5px;
}

.info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info-subcontainer{
}

.info-image{
    z-index: -1;
    position: absolute;
    right:0px;
}

.features{
    display: flex;
    flex-direction: column;
    margin-top:310px;
}

.feature-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feature-image{
    display: inline;
    margin-right: 56px;
}
.main-text.small-text{
    margin-top: 0;
    margin-right: 56px;
    font-size: 50px;
    width: 616px;
    font-weight: 600;
    line-height: 60px;
    kerning: -1.5%;
}
.sub-text.small-text{
    width: 312px;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

.feature-row2{
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    width: 100%;
    justify-content: space-between;
}
.box1-color{
    background-color: #f0f5ff;
}

.box2-color{
    background-color: #FEEDFA;
}

.box3-color{
    background-color: #F5F6F7;
}

.box-header{
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 12px;
}

.box-subtext{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 24px;
    border-radius: 16px;
    padding: 32px;
}
.box-image{
    width: 140px;
    height: 140px;
}

.box-learnmore{
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 196px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    border-radius: 7px;
    color: #0B63E5;
}
.box-button{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-right: 12px;
}

.portfolio-main{
    margin-top: 124px;
    padding-bottom: 124px;
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
}
.portfolio-main > .main-text, .team>.main-text{
    font-size: 56px;
    margin-top: 124px;
    width: 100%;
    text-align: center;
}
.portfolio-main > .sub-text, .team>.sub-text{
    width: 100%;
    text-align: center;
    margin-top:24px;
    margin-bottom: 72px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}
.portfolio-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
}
.portfolio{
    display: flex;
    flex-direction: column;
}
.port-img{
    width: 412px;
}

.port-header{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 14px;
}

.casestudy{
    display: flex;
    flex-direction: row;
    color: #0B63E5;
}

.case-text{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 8px;
}

.testimonial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.test-col1{
    margin-right: 136px;
    margin-top: -124px;
}

.subtext-contain{
    border-left: 3px solid #0B63E5;
    padding-left: 24px;
}

.test-col1>.main-text{
    font-size: 56px;
    width: 648px;
    margin-top: 156px;
    margin-bottom: 48px;
}

.test-col1>.sub-text{
    line-height: 32px;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
}

.quotes{
    margin-top: 16px;
}

.test-buttons{
    margin-top:48px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.test-img{
    width: 536px;
    height: 536px;
    margin-top:124px;
    margin-bottom: 124px;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.img-bg{
    width: 312px;
    height: 424px;
}
.green{
    background-color: #CFEBD1;
}
.purple{
    background-color: #E3D6FF;
}
.yellow{
    background: #FFE9BD;
}
.blue{
    background: #CEE0FA;
}

.member-name{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top:24px;
    margin-bottom: 8px;
    color: #061C3D;
}

.member-pos{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#6A778B;
}
.button-round{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top:72px;
    margin-bottom:124px;
}
.calltoaction{
    display: flex;
    flex-direction: row;
    background: #061C3D;
    padding-left: 300px;
    padding-right: 300px;
}
.call-col>.main-text{
    font-size: 56px;
    color: white;
    width: 600px;
    margin-bottom:40px;
    margin-top: 173px;
}
.company{
    margin-bottom: 124px;
}
.call-col>.sub-text{
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    margin-bottom:40px;
    line-height: 26px;
    
}
.call-img{
    margin:72px 134px 72px 0px;
}
.call-button{
    display: flex;
    color: white;
    font-family: 'Lexend', sans-serif;
    background: #0B63E5;
    width: fit-content;
    height: 56px;
    padding-left:32px;
    padding-right: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.button-call-text{
    margin-right:12px;
}
.footer{
    display: flex;
    flex-direction: row;
    padding-top:124px;
    margin-bottom:124px;
}
.footer-col>.sub-text{
    color: #6A778B;
}
.mode{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.lightmode,.darkmode{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.lightmode{
    color: #061C3D;
}
.darkmode{
    color: #9BA4B1;
}

.footer-head{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.links{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #838E9E;
    margin-bottom:12px;
}
.icons{
    margin-bottom: 12px;
}
.copyright{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top:32px;
    padding-bottom:32px;
}